body {
    margin-top: 50px;
    font-family: 'Work Sans', sans-serif;
}

* {
    -webkit-transition: all 60ms linear;
    -moz-transition: all 60ms linear;
    -ms-transition: all 60ms linear;
    -o-transition: all 60ms linear;
    transition: all 60ms linear;
}

.heading {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 40px;
    font-weight: 200;
    text-align: left;
    text-transform: uppercase;
}

.contact {
    text-align: left;
}

.contact ul {
    list-style: none;
    padding-left: 0px;
}

.contact li {
    font-size: 18px;
    padding-bottom: 7px;
}

.contact .fa {
    font-size: 20px;
    padding-right: 10px;
}

.contact i {
    text-align: right;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.rlink {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    bottom: 5px;
    margin: 0;
    top: 0px;
    padding: 3px;
    padding-right: 8px;
    padding-left: 8px;
    color: #fff !important;
    border-radius: 3px;
    background-color: black;
}

.rlink:hover {
    background-color: #0042D1;
}

.contact li:hover {
    color: #0042D1;
}

.content {
    font-size: 15px;
    padding: 10px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.content .title {
    font-size: 20px;
    padding-bottom: 3px;
    color: #000;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    width: 25%;
    font-weight: 600;
    text-transform: uppercase;
}

.content .link {
    padding: 2px;
    color: #000;
}

.content .link:hover {
    color: #fff;
    background-color: #000;
}

.skills ul {
    padding-left: 0px;
    list-style: none;
}

.skills li {
    font-size: 17px;
    padding-bottom: 5px;
}

.skills li .fa {
    width: 20px;
    padding-right: 2px;
    font-size: 20px;
    text-align: center;
}

.skills li .cat {
    display: inline-block;
    font-weight: 600;
    width: 135px;
    font-size: 17px;
}

.employment ul {
    padding-left: 0px;
    list-style: none;
}

.employment li {
    font-size: 17px;
    padding-bottom: 5px;
}

.employment li .fa {
    width: 20px;
    padding-right: 2px;
    font-size: 20px;
    text-align: center;
}

.employment li .job {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    width: 140px;
}

.employment .desc {
    padding-top: 2px;
    padding-bottom: 25px;
    line-height: 140%;
}

.employment .time {
    display: inline-block;
    width: 175px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: 600;
}

.employment .desc .time .fa {
    font-size: 14px;
}

.employment .desc .lang {
    color: #222;
    font-style: italic;
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
}

.research ul {
    padding-left: 0px;
    list-style: none;
}

.research li {
    font-size: 17px;
    padding-bottom: 5px;
}

.research li .fa {
    width: 20px;
    padding-right: 5px;
    font-size: 20px;
    text-align: center;
}

.research li .project {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    width: auto;
}

.research .desc {
    padding-top: 2px;
    padding-bottom: 25px;
    line-height: 140%;
}

.research .time {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
}

.research .res-link {
    font-size: 14px;
    font-weight: 600;
}

.time .fa-calendar {
    padding-right: 5px;
}

.lang .fa-terminal {
    font-size: 14px;
    padding-right: 5px;
}

.res-link .fa {
    padding-right: 2px;
}

.projects ul {
    padding-left: 0px;
    list-style: none;
}

.projects li {
    font-size: 17px;
    padding-bottom: 5px;
}

.projects li .fa {
    width: 20px;
    padding-right: 2px;
    font-size: 20px;
    text-align: center;
}

.projects li .project {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    width: auto;
}

.projects .desc {
    padding-top: 2px;
    padding-bottom: 25px;
    line-height: 140%;
}

.projects .time {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
}

.projects .fa-github {
    font-size: 16px;
}

.personal ul {
    padding-left: 0px;
    list-style: none;
}

.personal li {
    font-size: 17px;
    padding-bottom: 5px;
}

.personal li .fa {
    width: 20px;
    padding-right: 2px;
    font-size: 20px;
    text-align: center;
}

.personal li .project {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    width: auto;
}

.personal .desc {
    padding-top: 2px;
    padding-bottom: 25px;
    line-height: 140%;
}

.personal .time {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
}