@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

* {
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto';
	font-weight: 300;
	background-color: #4798FF;
}

.title {
	font-family: 'Roboto';
	font-weight: 200;
	width: 100%;
	font-size: 4em;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
}

.emph {
	color: #4798FF;
	font-weight: 300;
	font-size: 22px;
}

.nav {
	background-color: #F9690E;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.nav li {
	width: 100%;
	float: none;
	display: inline-block;
	width: auto;
	margin: 0px;
	margin-left: -1px;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
}

.nav a {
	float: none;
	margin: 0px;
	font-size: 1.2em;
	background: transparent;
	text-decoration: none;
	color: #FFF;
	border: 0;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
}

.nav a:hover {
	color: #F9690E;
	background-color: #FFF;	
}

.active a {
	font-weight: 400;
	color: #F9690E;
	background-color: #FFF;
}

.fa-bars {
	padding: 20px;
}

.nav-toggle {
	position: relative;
	font-family: 'Roboto';
	font-weight: 300;
	color: #FFF;
	font-size: 1.5em;s
}

.tab {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

.tabtext {
	font-family: 'Roboto';
	padding: 15px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #FFF;
}

.tabtitle {
	font-weight: 400;
	font-size: 1.3em;
	font-family: 'Roboto';
	color: #4798FF;
	display: none;
	margin-bottom: 25px;
}

.link-cont {
	margin-top: -25px;
	font-weight: 300;
	font-size: 16px;
	width: 100%;
	background-color: #4798FF;
}

.special {
	margin-top: 5px;
}

.link-cont .fa {
	font-size: 14px;
}

.link-cont:hover {
	background-color: #F9690E;
}

.project-cont .fa {
	font-size: 16px;
}

.contact .fa {
	font-size: 16px;
}

.left {
	padding-right: 15px;
}

.link-link {
	margin: 0px;
	padding: 0px;

	padding-right: 5px;
	color: #fff;
	text-decoration: none;
}

.link-text {
	padding: 10px;
}

.sect-title {
	font-size: 20px;
	padding-bottom: 5px;
	color: #4798FF;

}

.face {
	width: 120px;
	border-radius: 50%;
}

.facecont {
	text-align: center;
}

.post-content a {
	color: #4798FF;
}

.post-content a:hover {
	color: #F9690E;
}

.readurl .fa {
	font-size: 24px;
}

.post-content a {
	color: #4798FF;
}

.post-content a:hover {
	color: #F9690E;
}

#ShelfariWidget262955 {
	max-width: 300px;
}

@media only screen and (max-width: 640px) {

	.tabtext {
		padding-left: 25px;
		padding-right: 25px;
	}

	.title {
		width: auto;
		text-align: right;
		font-size: 3em;
		padding-right: 20px;
		padding-top: 0px;
		padding-bottom: 0px;
		float: right;
	}

	.tabtitle {
		display: block;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


 .tabtext {
 	padding-left: 25px;
	padding-right: 25px;
 }

 .title {
 	width: auto;
 	text-align: right;
 	font-size: 3em;
	padding-right: 20px;
	float: right;
	padding-top: 0px;
	padding-bottom: 0px;
 }


 .tabtitle {
		display: block;
 }

}