@import url(http://fonts.googleapis.com/css?family=Varela+Round:400,500,700,900);

body {

    font-family: 'Varela Round', sans-serif;
    font-style: bold;
    margin: 0px;
    padding: 0px;
}

.unselectable {

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow-down {

    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(5, 7, 8, 0);
    border-top-color: #050708;
    border-width: 30px;
    margin-left: -30px;
    margin-top: -10px;
}

.nav.menu {
    overflow: hidden;
    font-weight: 500;
    width: 100%;
    padding: 0px;
    margin: 0px;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-tranhtmlition: all 100ms linear;
    transition: all 100ms linear;
}

.nav.link {
    color: #FFF;
    width: 100%;
    text-align: left;
    font-size: 24px;
    padding: 10px;
    padding-left: 15px;
    list-style: none;
    display: inline-block;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.nav.link:hover {
    color: #FA8E00;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    cursor: pointer; 
    cursor: hand; 
    
}

.about {

    background-color: #0099FF;
} .about-link {

    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #000;
} .about-link:hover {

    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #0099FF;
} .about-arrow {

    border-top-color: #0099FF;
}

.projects {

    background-color: #3CB43C;
} .projects-link {

    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #000;
} .projects-link:hover {

    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #3CB43C;
} .projects-arrow {

    border-top-color: #3CB43C;
}

.contact {

    background-color: #8440BF;
} .contact-link {

    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #000;
} .contact-link:hover {

    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    color: #8440BF;
} .contact-arrow {

    border-top-color: #8440BF;
}

.resume {
    background-color: #000;
} .resume-arrow {

    border-top-color: #F18622;
}

.blog {
    background-color: #000;
} .blog-arrow {

    border-top-color: #ED1A1A;
}

.nav.link a {

    text-decoration: none;
    color: #FFF;
}

.section.name {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 72px;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.section.header {
    font-weight: 700;
	margin: 0px;
    max-width: 100%;
    color: #FFF;
    font-size: 56px;
}

.section.header.paragraph {

	padding: 20px;
}

.section.content.paragraph {

    background-color: #FFF;
    padding: 50px;
    padding-left: 125px;
    padding-right: 125px;
    font-size: 16px;
}
.section.content.skills.header {
    text-align: center;
    color: #000;
    font-size: 42px;
}

.section.content.skills {
    width: 100%;
}

.section.content.skills.skill {

    width: 5%;
    font-size: 24px;
    text-transform: uppercase;
}

.section.content.skills.progress {

    float: right;
    width: 95%;
}

.section.content.skills.amt {

    text-align: right;
    color: #FFF;
    padding: 5px;
}

.section.content.skills.bar {

    height: 28px;
    margin: 0px;
    float: left;
    width: 90%;
    background-color: #0099FF;
}

.section.content.skills.amt {
    float: right;
}
.section.content.skills.bar.python {

    width: 100%;
}
.section.content.skills.bar.java {

    width: 60%;
}
.section.content.skills.bar.linux {

    width: 80%;
}

.section.content.skills.bar.sdl {

    width: 40%;
}
.section.content.skills.bar.unreal {

    width: 40%;
}

.section.content.skills.bar.html {

    width: 100%;
}
.section.content.skills.bar.css {

    width: 100%;
}
.section.content.skills.bar.js {

    width: 60%;
}

.section.content.projdisp {

    background-color: #FFF;
    width: 100%;
}

.section.content.projdisp.title {

    margin: 0px;
    margin-bottom: 10px;
}

.section.content.projdisp.icons {

    width: 50px;
}

.section.content.projdisp.desc {

    padding-left: 20px;
    position: relative;
    top: -10px;
}

.fa {

    font-size: 36px;
}

.fa-home {

    padding-right: 2px;
}

.contact-icon {
    margin-right: 20px;
    font-size: 24px;
}

.contact-link {
    font-size: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {



	.section.name.paragraph {

		font-size: 42px;
	}

    .section.header {

        text-align: center;
    }

    .section.content.paragraph {

        padding: 15px;
    }

    .contact-icon {
        margin-right: 20px;
        font-size: 24px;
    }

    .contact-link {
        font-size: 20px;
    }

}

@media only screen and (max-width: 400px) {

    .nav.link {

        font-size: 16px;
    }

    .nav.img {

        height: 195px;
    }

    .section.name.paragraph {

        font-size: 42px;
    }

    .section.header {

        text-align: center;
    }

    .section.content.paragraph {

        padding: 15px;
    }

    .contact-icon {
        margin-right: 20px;
        font-size: 24px;
    }

    .contact-link {
        font-size: 20px;
    }


}

@media only screen and (max-width: 900px) {
    .section.content.paragraph {

        padding: 50px;
    }
}

@media only screen and (max-width: 550px) {

    .section.name.paragraph {

        font-size: 46px;
    }

    .section.content.paragraph {

        padding: 20px;
    }
}

@media only screen and (max-width: 475px) {

    .section.name.paragraph {

        font-size: 46px;
    }

    .section.content.paragraph {

        padding: 20px;
    }
}

@media only screen and (max-width: 350px) {

    .section.name.paragraph {

        font-size: 38px;
    }

    .section.content.paragraph {

        padding: 20px;
    }
}