@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html {
	background-color: #212b3b;
}

body {
	background-color: #212b3b;
}

.face {
	max-width: 175px;
	border-radius: 15px;
}

.container {
	color: #EFEFEF;
}

.identity-container {
	margin-top: 50px;
	margin-bottom: 25px;
}

.work-history-container {
}

.identity * {
	display: inline-block;
}

.identity img {
	border: 3px solid #EFEFEF;
}

.name {
	font-size: 42px;
    margin-left: 25px;
    font-family: 'IBM Plex Sans', serif;
    font-weight: 600;
    position: relative;
    top: 25px;
}

.job {
	font-size: 24px;
	font-family:  'IBM Plex Sans', serif;
	font-weight: 400;
	font-style: italic;
	display: block;
	margin-top: -5px;
}

.category-title {
	color: #e36d27;
	font-weight: 600;
	font-size: 36px;
}

.work-item {
	font-family:  'IBM Plex Sans', serif;
	padding: 10px;
	background-color: #161a29;
	max-width: 400px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 7px;
	font-size: 22px;
	border: 2px solid #8f4f29;
}

.skill-item {
	font-family:  'IBM Plex Sans', serif;
	padding: 10px;
	background-color: #161a29;
	max-width: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 7px;
	font-size: 22px;
	border: 2px solid #8f4f29;
}


.company-logo {
	height: 22px;
	position: relative;
	bottom: 2px;
}

.company-name {
	display: inline-block;
	margin-right: 15px;
}

.work-desc {
	font-size: 16px;
}

.work-time {
	font-style: italic;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 2px;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

.job-title {
	background-color: #1d3d70;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	display: inline-block;
}

.time-icon {
	margin-right: 2px;
}

.skill-item .company-name {
	    width: 100%;
}

.company-name-text {
	display: inline-block;
	margin-left: 5px;
	margin-right: 10px;
}

.identity-link {
	color: #EFEFEF;
}

.identity-link:hover {
	color: #317ff5;
}

.proj-link {
	color: #EFEFEF;
}

.proj-link:hover {
	color: #317ff5;
}